body{
font-family:Arial;
margin:0;
background:#f4f6f9;
}

.navbar{
display:flex;
justify-content:space-between;
padding:15px 40px;
background:#2e7d32;
color:white;
}

.logo{
font-size:20px;
font-weight:bold;
}

.admin-badge{
background:gold;
padding:5px 10px;
border-radius:5px;
margin-right:15px;
}

.logout-btn{
color:white;
text-decoration:none;
}

.dashboard-card{
width:80%;
margin:40px auto;
background:white;
padding:30px;
border-radius:10px;
}

table{
width:100%;
border-collapse:collapse;
}

th{
background:#2e7d32;
color:white;
padding:10px;
}

td{
padding:10px;
border-bottom:1px solid #ddd;
}

.delete-btn{
color:red;
text-decoration:none;
}