<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Invisible Waste</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<header class="navbar">

<div class="logo">🌿 Invisible Waste</div>

<nav>

<a href="/">Home</a>
<a href="/signup">Signup</a>
<a href="/login">Login</a>
<a href="/report">Report</a>

</nav>

</header>


<section class="hero">

<div class="hero-card">

<h1>Clean City Initiative</h1>

<p>
Report waste locations and help keep the environment clean.
Together we can build a cleaner and greener city.
</p>

<div class="buttons">

<a href="/report" class="primary-btn">Report Waste</a>

<a href="/signup" class="secondary-btn">Join Us</a>

</div>

</div>

</section>

</body>
</html>