<!DOCTYPE html>
<html>
<head>
<title>My Reports</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="premium-bg">

<div class="overlay"></div>

<div class="center-box">

<h2 class="page-title">My Reports</h2>

<div class="report-container">

{% for r in reports %}

<div class="report-card">

<p><b>Address:</b> {{ r["location"] }}</p>

<p><b>Description:</b> {{ r["description"] }}</p>

{% if r["image"] %}
<p><b>Image:</b></p>
<img src="{{ url_for('static', filename='uploads/' + r["image"]) }}" class="report-img">
{% endif %}

<span class="status">Status: {{ r["status"] }}</span>

</div>

{% endfor %}

</div>

</div>

</body>
</html>
