<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>My Reports</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="premium-bg">

<div class="overlay"></div>

<div class="center-box">

<h2 class="page-title">My Reports</h2>

<div class="report-container">

{% for r in reports %}

<div class="report-card">

<!-- ADDRESS -->
<p><b>Address:</b> {{ r.location }}</p>

<!-- DESCRIPTION -->
<p><b>Description:</b> {{ r.description }}</p>

<!-- IMAGE -->
{% if r.image %}
<p><b>Image:</b></p>
<img src="{{ url_for('static', filename='uploads/' + r.image) }}" class="report-img">
{% endif %}

<!-- STATUS -->
<span class="status">Status: {{ r.status }}</span>

</div>

{% endfor %}

</div>

</div>

</body>
</html>
