<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Report Waste</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="premium-bg">

<div class="overlay"></div>

<div class="center-box">
<div class="glass-card">

<h1 class="brand-title">Invisible Waste</h1>

<h2>Submit Report</h2>
<p class="subtitle">Report Illegal Waste</p>

<form method="POST" enctype="multipart/form-data">

<input type="text" id="location" name="location" placeholder="Location" required>
    <!-- 📍 LOCATION BUTTON -->
<button type="button" onclick="getLocation()" class="login-btn">
📍 Use My Current Location
</button>


<textarea name="description" placeholder="Describe the issue..." required></textarea>

<input type="file" name="image">


<!-- HIDDEN FIELDS -->
<input type="hidden" name="latitude" id="lat">
<input type="hidden" name="longitude" id="lon">

<button class="login-btn">Submit Report</button>

</form>

<p class="switch">
<a href="/my_reports" class="login-btn">View My Reports</a>
</p>

</div>
</div>

<!-- SCRIPT -->
<script>
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {

            let lat = position.coords.latitude;
            let lon = position.coords.longitude;

            // hidden fields
            document.getElementById("lat").value = lat;
            document.getElementById("lon").value = lon;

            
            document.getElementById("location").value = lat + ", " + lon;
            document.querySelector('input[name="location"]').value = lat + ", " + lon;

            alert("Location captured successfully ✅");

        }, function(error) {
            alert("Location access denied ❌");
        });
    } else {
        alert("Geolocation not supported ❌");
    }
}
</script>

</body>
</html>
