<!DOCTYPE html>
<html>
<head>
<title>Report Waste</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h2>Report Waste</h2>

<form method="POST" enctype="multipart/form-data">

<input type="text" name="location" placeholder="Address" required><br><br>

<textarea name="description" placeholder="Description" required></textarea><br><br>

<input type="file" name="image"><br><br>

<!-- MAP -->
<div id="map" style="height:300px;"></div>

<input type="hidden" name="latitude" id="lat">
<input type="hidden" name="longitude" id="lng">

<br>
<button type="submit">Submit</button>

</form>


<script>
function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 26.9124, lng: 75.7873},
        zoom: 12
    });

    var marker;

    map.addListener('click', function(e) {

        var lat = e.latLng.lat();
        var lng = e.latLng.lng();

        document.getElementById("lat").value = lat;
        document.getElementById("lng").value = lng;

        if(marker){
            marker.setPosition(e.latLng);
        } else {
            marker = new google.maps.Marker({
                position: e.latLng,
                map: map
            });
        }
    });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>

</body>
</html>
